@model Inventory

<body class="bodyadd">

<div class="glass-container">
  <div class="blob">
  </div>
  <div class="blob2">
  </div>
  <form class="glass-form" method="POST">
    <h2>ADD PRODUCT</h2>
    <input class="inputadd" asp-for="MedicineName" placeholder="Medicine Name">
    <input  class="inputadd" asp-for="StockIn" placeholder="Stock in">
    <input  class="inputadd" asp-for="Expired" placeholder="Expired">
    <button type="submit">ADD</button>
    
  </form>
</div>
</body>