@model StoreKeeper
<form method="POST">
    Name
    <input asp-for="Name" />
    Email
    <input asp-for="Email" />
    Password
    <input asp-for="Password" />
    <button type="submit" >Register</button>
</form>